.main {
  background: linear-gradient(to bottom, #d4e5f6 5%, #4c8ac8 100%) !important;
  background-color: #4c8ac8;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 8s;
  z-index: 1;
  font-family: 'Rajdhani', serif;
}

.header {
  margin-top: 0.5rem;
  display: flex;
  grid-column: center;
}

img {
  width: 110px;
  height: 110px;
}

.contact-header {
  margin-top: 2.5rem;
}

.name {
  margin-top: 1.3rem;
}

.contact-placeholder {
  box-shadow: inset 0px 1px 0px 0px #dcecfb;
  background: linear-gradient(to bottom, #5e98d2 5%, #aad5ff 100%);
  background-color: #bddbfa;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-weight: 300;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-width: 18rem;
  color: #ffffff;
}

.contact-placeholder::placeholder {
  color: #ffffff;
}

.contact-placeholder:focus {
  box-shadow: inset 2px 2px 0px 2px #bbddfe;
}

.contact-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-me {
  padding: 2rem 2.5rem 2rem 5rem;
  max-width: fit-content;
  background-color: #4585c4;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  box-shadow: 0 0 12px #bddbfa;
  border: 1px solid #528fcc84;
  border-radius: 3%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
}

@media (max-width: 500px) {
  .contact-placeholder {
    min-width: 10rem;
  }
  .contact-me {
    padding: 1rem 2.7rem;
  }
  .contact-header {
    font-size: 1.4rem;
  }
  .contact-button {
    margin-right: 2rem;
  }
}

.socials {
  display: flex;
  flex-direction: row;
}

.social-icons {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.social-icon {
  margin-left: 1.2rem;
  border-radius: 50%;
  background: transparent;
  border: none;
  box-shadow: none;
  text-align: center;
}

.icon {
  font-size: 1.7rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.icon-link:hover .icon {
  cursor: pointer;
  transform: scale(1.2);
}

.hide-icons {
  opacity: 0;
}

.show-icons {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

/* Media query for mobile styles */
@media (max-width: 600px) {
  .social-icon {
    margin-left: 0.4rem;
  }
}

button {
  box-shadow: inset 0px 1px 0px 0px #dcecfb;
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  background-color: #bddbfa;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
button:hover {
  background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  background-color: #80b5ea;
}

.go-back.contact {
  left: 37.7% !important;
  top: 13.7% !important;
}

.go-back:hover {
  box-shadow: 0px 0px 15px 5px #dcecfb;
}
