.about-me {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  min-width: 60vh;
  min-height: 60vh;
  max-height: 70vh;
  padding: 1rem 2rem 2.5rem 6rem;
  background-color: #4585c4;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  box-shadow: 0 0 12px #bddbfa;
  border: 1px solid #528fcc84;
  border-radius: 3% 0% 0% 3%;
  color: #ffffff;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.about-me::-webkit-scrollbar {
  display: none;
}

.about-card > .go-back {
  margin-left: -4.2rem !important;
  margin-top: 0.8rem;
}

.about-card > .header-text {
  text-align: center;
  margin-top: 0 !important;
}

.category-title {
  font-size: 1.3rem;
}

.skill-icon {
  margin-right: 1.2rem;
  border-radius: 50%;
  background: transparent;
  border: none;
  box-shadow: none;
}

/* Media query for mobile styles */
@media (max-width: 650px) {
  .about-me {
    min-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    height: 100%;
    border-radius: 0%;
    border: none;
    padding: 1.5rem 3rem 2.5rem 5.5rem;
  }

  .about-card > .go-back {
    margin-left: -3.5rem;
    margin-top: 0;
  }

  select {
    background-size: 5%;
  }

  .skill-icon > .icon-link > .icon {
    font-size: 1.7rem;
  }

  .about-card > .header-text {
    font-size: 1.8rem;
  }

  .category-title {
    font-size: 1.4rem;
  }
}

@media (max-width: 900px) {
  .about-card > .header-text {
    font-size: 2rem;
  }

  .category-title {
    font-size: 1.2rem;
  }
}
