@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Rajdhani:wght@300;400;600;700&family=VT323&display=swap');

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #4c8ac8 45%, #d4e5f6 100%);
  background-color: #4c8ac8;
  font-family: 'Rajdhani', sans-serif;
  color: #ffffff;
  scroll-behavior: smooth !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  touch-action: none !important;
}

button {
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  font-family: 'VT323', serif;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}

button.blue {
  box-shadow: inset 0px 1px 0px 0px #dcecfb;
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  background-color: #bddbfa;
  border: 1px solid #84bbf3;
  text-shadow: 0px 1px 0px #528ecc;
}

button.red {
  box-shadow: inset 0px 1px 0px 0px #fedcdc;
  background: linear-gradient(to bottom, #ffc3c4 5%, #e48587 100%);
  background-color: #fdbbbc;
  border: 1px solid #fda9aa;
  text-shadow: 0px 1px 0px #fb7f81;
}

button.green {
  box-shadow: inset 0px 1px 0px 0px #e3ffe2;
  background: linear-gradient(to bottom, #b3f9b0 5%, #55d850 100%);
  background-color: #b6f9b2;
  border: 1px solid #96ed93;
  text-shadow: 0px 1px 0px #87fb83;
}

button.blue:hover {
  background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  background-color: #80b5ea;
}

button.red:hover {
  background: linear-gradient(to bottom, #ff9b9d 5%, #fcaaab 100%);
  background-color: #ff9b9d;
}

button.green:hover {
  background: linear-gradient(to bottom, #60eb5b 5%, #aaffa8 100%);
  background-color: #60eb5b;
}

/** go back arrow**/

.go-back {
  width: 0px;
  border-radius: 50%;
  background: transparent;
  border: none;
  box-shadow: none;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.go-back:hover {
  background: transparent;
  transform: scale(0.7);
}

.nav-icon {
  text-align: center;
  width: 0px;
  cursor: pointer;
}

.nav-icon:before {
  transform: translateY(3px) translateX(-2px) rotate(135deg);
  width: 17px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: #fff;
  border-radius: 3px;
  content: '';
  display: block;
  height: 2px;
  margin: 7px -9px;
  transition: all 0.2s ease-in-out;
}

.nav-icon:after {
  transform: translateY(-3px) translateX(-2px) rotate(-135deg);
  width: 17px;
}

button {
  box-shadow: inset 0px 1px 0px 0px #dcecfb;
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  background-color: #bddbfa;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}

button:hover {
  background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  background-color: #80b5ea;
}

.go-back:hover {
  box-shadow: 0px 0px 15px 5px #dcecfb;
}

/** Icons (used in skills and social contact)**/
.skills,
.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

.icon {
  margin-bottom: 0.6rem;
  color: #fff;
  font-size: 1.7rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.icon-link:hover .icon {
  cursor: pointer;
  transform: scale(1.2);
}

.hide-elements {
  pointer-events: none;
  opacity: 0;
}

.show-elements {
  pointer-events: all;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

/* Media query for mobile styles */
@media (max-width: 600px) {
  .icon {
    font-size: 1.1rem;
  }

  .go-back {
    text-align: left;
    transform: scale(0.75);
  }
}
